.container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	max-width: 100em;
	margin-right: auto;
	margin-left: auto;
	padding-right: 5.5em;
	padding-left: 5.5em;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	grid-row-gap: 4em;
	max-width: 1720px;
}

.container.is--stage {
	margin-top: 9em;
	margin-bottom: 6em;
}

.container.is--stage.is--404 {
	margin-top: 4em;
}

.container.is--work {
	grid-row-gap: 19em;
}

.page-wrapper {
	position: relative;
	overflow: hidden;
	width: 100%;
	font-size: 1em;
}
